.test_page{
	display: flex;
	flex-direction: column;
	height: 100wh;
	width: 600px;
	height: 500px;

}
.header{
	width: 100%;
	height: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.header_left{
	width: 120px;
	height: 100%;
	items-content: center;
}
.header_center{
/*	flex: 1;*/
	flex-grow: 1;
	background: red;
	items-content: center;
	justify-content: flex-end;
}
.header_right{
	width: 80px;
	height: 100%;
	display: flex;
	flex-direction : column;
}
.compent
{
	display: flex;
	flex-direction: row;
	flex : 1;
	flex-grow: 1;
}
.compent_left{
	width: 120px;
	height: 480px;
	background: blue;
	/*flex-*/
}
.compent_right{
	display: flex;
	flex-direction: column;
	flex: 1;
	flex-grow: 1;
}
.compent_area{
	display: flex;
	background: 0xccc;
	flex-direction: column;
	flex: 1;
	align-items: space-around;
}
.import{
/*	width: 100px;
	height: 40px;*/
	border: 2px;
}
.form{
/*	width: 200px;*/
	height: 200px;
	background: green;
}
.page{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.page_select{

}
.bottom{

}


